
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #C0E1FF;


}

.uberschrift {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 200px;

}

h1 {
    font-family: 'Dancing Script';
    font-size: 12rem;
    color: whitesmoke;
    text-shadow: 5px 5px green;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    flex-direction: column;

}

.licht {
    display: flex;
    justify-content: center;
}

.kette {
    width: 100vw;
    height: 3px;
    background-color: green;

}

.kugel {
    margin: 20px;

    width: 4rem;
    height: 4rem;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    animation-name: blick;
    animation-duration: 3s;
    animation-direction: inherit;
    animation-iteration-count: infinite;
}

.kugel:after, .red:after {
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: yellow;
    border-radius: 25%;
    position: absolute;
    top: -10px;
    right: 16px;
    animation-name: blick;
    animation-duration: 3s;
    animation-direction: inherit;
    animation-iteration-count: infinite;
}

.kugel:before {
    content: '';
    width: 1.5rem;
    height: 0.8rem;
    background-color: green;
    border-radius: 30% 30% 30% 30%;
    position: absolute;
    top: -20px;
    right: 20px;
}

.red {
    background-color: rgba(222, 57, 57, 1);
    animation-name: blick-rot;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.red:after {
    background-color: rgba(222, 57, 57, 1);
    animation-name: blick-rot;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    z-index: 1;
}

.container {
    height: 500px;
    width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.kerze {
    background-color: brown;
    width: 3rem;
    height: 12rem;
    border-radius: 20px 20px 15px 15px;
    position: relative;
    z-index: auto;

}

.kerze-1 {
    animation: move-1 2s none alternate;
}

.kerze:after {
    content: "";
    background-color: rgba(187, 83, 83, 0.88);
    z-index: 1;
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    top: 0;
    right: 0px;
    border-radius: 50% 50% 50% 50%;
}

.kerze:before {
    content: "";
    background-color: rgb(247, 128, 0);
    width: 1rem;;
    height: 1rem;
    border-radius: 0 50% 50% 50%;
    position: absolute;
    top: -25px;
    right: 15px;
    z-index: 2;
    transform: rotate(50deg);
    animation: flame .25s infinite alternate;
}


.knot {
    height: 1.5rem;
    width: 0.25rem;
    border-radius: 25%;
    border-right: medium;
    border-top: red;
    background-color: gray;
    z-index: 2;
    position: absolute;
    top: -10px;
    right: 23px;
}

@keyframes flame {
    to {
        width: 1.5rem;
    }
}


@keyframes blick-rot {
    0% {
        background: yellow;

    }
}

@keyframes blick {
    50% {
        background-color: red;
        /*transition: 0.5s;*/
    }
}
