* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0E1FF; !important
    background-image:url('img/'), url('http://i.imgur.com/wC1HUtA.png'),
}
.uberschrift{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 1000px;
    width: 1000px;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.kerze {
    background-color: brown;
    width: 3rem;
    height: 12rem;
    margin-right: 13%;
    border-radius: 20px 20px 15px 15px;
    position: relative;
    z-index: auto;
    grid-area: kerze;
}

.kerze-1 {
    animation: move-1 2.5s 1 alternate;

}
.kerze:after  {
    content:"";
    background-color: rgba(187, 83, 83, 0.88);
    z-index: 1;
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    top: 0;
    right: 0px;
    border-radius: 50% 50% 50% 50%  ;
}
.kerze:before {
    content: "";
    background-color: rgb(247, 128, 0);
    width: 1rem;;
    height: 1rem;
    border-radius: 0 50% 50% 50%;
    position: absolute;
    top: -25px;
    right: 15px;
    z-index: 2;
    transform: rotate(50deg);
   /* box-shadow: 0 0 15px 0 rgba(247, 93, 0),
    5px -5px 10px 12px rgba(247, 128, 0, .7),
    -6px -10px 20px 0 #F5FE5C,
    6px -15px 20px #FDDB33,
    -7px -10px 20px #FFC126,
    7px -15px 20px #FF7808,
    -8px -15px 20px #F95801,
    7px -10px -20px #FFC126,
    7px -15px -20px #FF7808,
    8px 15px -20px #F95801;*/
    animation: flame .25s infinite alternate;
}



.kerze-2 {

    animation: move-2 2.5s 1 alternate;
}

.kerze-2:before {

    transform: rotate(50deg);
    animation: move-2 19.0s 1 alternate;
    animation-delay: 0s;
}

.kerze-3 {

    animation: move-3 2.5s 1 alternate;
    animation-delay: 2.0s;
}

.kerze-3:before {
    opacity: 0;
    transform: rotate(50deg);
    animation: move-3 19.0s 1 alternate;
    animation-delay: 2.0s;
}

.kerze-4 {
    animation: move-4 2.5s 1 alternate;
    animation-delay: 4.0s;
}

.kerze-4:before {
    opacity: 0;
    animation: move-4 19.0s 1 alternate;
    animation-delay: 2.0s;
    transform: rotate(50deg);
}



@keyframes flame {
    to {
        width: 1.5rem;
    }

}

@keyframes move-1{
    0%,50%{
        transform: rotate(50deg);
        transition: 2.0s;}
    100%{

        transition: 2.0s;}
}

@keyframes move-2{
    0%,25%{
        transform: rotate(-50deg);
        opacity:1;
        transition: 1s;}
    50%,75%{
        transform: rotate(0deg);
        transition: 1s;
        opacity:1;}
    90%,100%{;
        transform: rotate(50deg);
        transition: 1s;
        opacity:1;}
    }

@keyframes move-3{
    0%,25%{
        transform: rotate(-50deg);
        transition: 1.0s;}
    50%,75%{
        transform: rotate(0deg);
        transition: 1.0s;opacity:1;}
    90%,100%{;
        transform: rotate(50deg);
        transition: 1.0s;
    opacity:1;}
}
@keyframes move-4{
    0%,50%{
        transform: rotate(-50deg);
        transition: 2.0s;}
    100%{

        transition: 2.0s;
        opacity:1;}
}

.knot{
    height: 1.5rem;
    width: 0.25rem;
    border-radius: 25%;
    border-right: medium;
    border-top: red;
    background-color: gray;
   z-index: 2;
    position: absolute;
    top:-10px;
    right: 23px;
}
 body{
     background-color: #C0E1FF; !important
background-image:url('/img/'),
    url('http://i.imgur.com/wC1HUtA.png'),url('http://i.imgur.com/j5ekn4f.png');-webkit-animation:schnee 25s linear infinite;-moz-animation:schnee 25s linear infinite;-ms-animation:schnee 25s linear infinite;animation:schnee 25s linear infinite;}
@keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}
    100%{background-position:500px 1000px,400px 400px,300px 300px}}
@-moz-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}
@-webkit-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px;}}
@-ms-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}